.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
label{
  font-size: 14px;
}
input{
  border: 1px solid gray;
  border-radius: 8px;
  margin-top: 3;
  outline: none;
  appearance: none;
  padding: 10
}
.details{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}
